p {
  line-height: 2rem;
}

section{
    padding: 50px 0;
}

.parallax-container {
  min-height: 400px;
  line-height: 0;
  height: auto;
}
  .parallax-container .section {
    width: 100%;
  }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.profile-pic{
    border-radius: 50%;
    width: 70%;
    max-width: 190px;
    height: auto;
}

#who-im{
    min-height: 300px;
}

.vertical-parent-container{
    padding: 5% 0;
}

.vertical-child-container{
    padding: 10% 0;
}

#about{
    background: url(../images/about-background.png) repeat;
    /*linear-gradient(
      rgba(0, 0, 0, 0.3), 
      rgba(0, 0, 0, 0.0)
    ),*/
}

.card-background{
    padding: 40px 0;
}

.card-background > i{
    font-size: 10rem;
}

.card-description{
    padding-top: 15px; 
}

.show-more-label{
    cursor: pointer;
}

#work-process h1 {
    font-weight: 400;
    text-shadow:2px 2px 5px rgba(0, 0, 0, 0.5);
    padding-bottom: .5em;
}

#logo-container, h1, h5, h2{
    font-weight: 200;
}
h1{
    margin: 0;
}
#logo-container{
    font-size: 1.75em;
}

.modal{
    width: 90%;
    max-height: 80%
}

.modal.modal-fixed-footer {
    height: 100%;
}

.modal-icons > i{
    font-size:15em;
    padding: .2em 0;
}

#skills{
    min-height: 400px;
}

.card-description{
    font-size: 16px;
}

.collapsible-header{
    font-size: 1.5em;
    text-transform: uppercase;
    padding: .5em 1em;
}

.collapsible-header > i{
    font-size: 2em;
}

.collapsible-body{
    font-size: 16px;
}